.services {
  &__container {
    row-gap: 1rem;
    margin-top: 30px;
  }
  &__data {
    box-shadow: 0 2px 6px rgba($color: $text-color, $alpha: 0.125);
    padding: 2rem 1rem;
    box-sizing: border-box;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    height: 465px;
  }
  .services__img {
    height: 200px;
  }
  &__subtitle {
    font-size: 0.595rem;
    color: $text-color-light;
    margin-bottom: 30px;
    text-align: center;
  }
  &__desc {
    font-size: $small-font;
    color: $text-color;
    margin: 15px 0 20px;
  }
  &__btn {
    @extend .button;
    background-color: #ebebeb;
    transition: 0.3s;
  }
  &__btn:hover {
    background-color: $text-color;
    color: #f1f2f1;
  }
}
