@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
$header-height: 3em;

/*color*/
$first-color: #7cb342;
$first-color-light: #94c461;
$first-color-lighten: #b8d895;
$first-color-alt: #26c6da;
$first-color-alt-light: #4dcfe1;
$first-color-alt-lighten: #9ce5ee;
$title-color: #232323;
$text-color: #464646;
$text-color-light: #747474;

/*font & typography*/
$body-font: "Poppins", sans-serif;

$biggest-font: 1.5rem;
$h2-font: 1.325rem;
$h3-font: 1.125rem;
$normal-font: 0.913rem;
$small-font: 0.895rem;
$smallest-font: 0.5rem;
